# Writing for api

In [1]:
import pandas as pd
import time
import numpy as np
from sklearn.model_selection import train_test_split
import sys

In [2]:
# 2)-Loading dataset
data_file = '20190207_transactions.json'
transactions = pd.read_json(data_file, lines= True)

In [3]:
transactions.info() # we found no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 2 columns):
id          2500 non-null int64
products    2500 non-null object
dtypes: int64(1), object(1)
memory usage: 39.1+ KB

In [4]:
pd.melt(transactions.head(2).set_index('id')['products'].apply(pd.Series).reset_index(), 
             id_vars=['id'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['id', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})

    id  productId  purchase_count
0    0       30.0               1
1    0       45.0               1
2    0       77.0               1
3    0       78.0               1
4    0       89.0               2
5    0      125.0               1
6    0      133.0               1
7    0      155.0               1
8    0      161.0               1
9    0      185.0               1
10   0      188.0               1
11   0      210.0               1
12   0      229.0               1
13   0      238.0               1
14   0      241.0               1
15   1       34.0               1
16   1       45.0               1
17   1       82.0               1
18   1      108.0               1
19   1      113.0               1
20   1      119.0               1
21   1      148.0               1
22   1      157.0               1
23   1      165.0               1

In [5]:
s=time.time()

data = pd.melt(transactions.set_index('id')['products'].apply(pd.Series).reset_index(), 
             id_vars=['id'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['id', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})
data['productId'] = data['productId'].astype(np.int64)

print("Execution time:", round((time.time()-s)/60,2), "minutes")

data.head()

Execution time: 0.01 minutes

   id  productId  purchase_count
0   0         30               1
1   0         45               1
2   0         77               1
3   0         78               1
4   0         89               2

In [6]:
data['productId'].value_counts(dropna=False)

36     127
248    127
175    122
154    122
85     119
21     118
48     118
126    118
17     117
7      117
174    117
235    116
152    116
122    116
134    116
150    116
23     116
3      116
70     115
2      115
50     114
240    113
228    113
30     113
28     112
169    112
86     111
114    111
68     111
80     111
      ...
194     88
12      88
187     87
56      87
244     87
67      87
180     87
116     87
223     87
93      87
162     87
128     86
49      86
148     86
201     86
111     86
142     86
13      85
192     85
59      85
123     84
73      84
20      84
24      83
249     83
71      82
203     82
199     81
178     81
172     80
Name: productId, Length: 250, dtype: int64

In [7]:
prod_freq=data['productId'].value_counts(dropna=False)

prod_freq.head()

36     127
248    127
175    122
154    122
85     119
Name: productId, dtype: int64

In [8]:
# chaning index name
prod_freq.index.name
prod_freq.index.name='prod_ID'

prod_freq.head()

prod_ID
36     127
248    127
175    122
154    122
85     119
Name: productId, dtype: int64

In [9]:
# define frequency function
def product_frequency(prod_ID):
    if prod_ID not in prod_freq.index:
        print('Product not found.')
        return prod_ID
    return prod_freq.loc[prod_ID]

In [10]:
prod_ID=int(input("enter a product ID to find frequency: "))

enter a product ID to find frequency: 36

In [11]:
product_frequency(prod_ID)

127

In [12]:
prod_ID=int(input("enter a product ID to find frequency: "))

enter a product ID to find frequency: 0

In [13]:
product_frequency(prod_ID)

Product not found.

0

In [14]:
prod_ID=int(input("enter a product ID to find frequency: "))

enter a product ID to find frequency: 1

In [15]:
product_frequency(prod_ID)

91